		
		<h1 >Welcome!</h1>		

		<% if user_signed_in? %>
		   	<p > <b>Вітаємо, старий друже <%= current_user.email %> </b></p>
		   	<%= link_to 'Вийти', destroy_user_session_path, :method => :delete %>
		   	<p >
		   	<% if current_user.account %>
				Ваш акаунт: <%= current_user.account.name %> 
			<% else %>
				<%= link_to 'виберіть свій акаунт', accounts_path %>
			<% end %>
			</p>   
		<% else %>
		<%= link_to 'Зайти', new_user_session_path %> 
		
		<p class='test'> або </p>
		
		<%= link_to 'Познайомитись', new_user_registration_path %>
		<% end %>

		<p>	<%= link_to 'Вибрати товари', products_path %> </p>

		<p>	<%= link_to 'Переглянути корзину', cart_path %> </p>